# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [2]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [11]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [4]:
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [14]:
import pandas as pd
from scipy import stats

# Select Dragon and Grass HP
grass_hp  = df.loc[df['Type 1'] == "Grass", "HP"]
dragon_hp  = df.loc[df['Type 1'] == "Dragon", "HP"]

# Welchâ€™s t-test (independent, unequal variance)
t_stat, p_val_two_sided = stats.ttest_ind(dragon_hp, grass_hp, equal_var=False)


# Convert to one-sided (Dragon > Grass)
if t_stat > 0:
    p_val_one_sided = p_val_two_sided / 2
else:
    p_val_one_sided = 1 - (p_val_two_sided / 2)

# Print results
print("Mean HP (Dragon):", dragon_hp.mean())
print("Mean HP (Grass):", grass_hp.mean())
print("Welch t-statistic:", t_stat)
print("One-sided p-value:", p_val_one_sided)

# Decision at 5% significance
alpha = 0.05
if p_val_one_sided < alpha:
    print("Reject H0: Dragons have significantly higher mean HP than Grass (Î± = 0.05).")
else:
    print("Fail to reject H0: No evidence Dragons have higher mean HP (Î± = 0.05).")

Mean HP (Dragon): 83.3125
Mean HP (Grass): 67.27142857142857
Welch t-statistic: 3.3349632905124063
One-sided p-value: 0.0007993609745420599
Reject H0: Dragons have significantly higher mean HP than Grass (Î± = 0.05).

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [15]:
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
# Split groups
legendary = df[df["Legendary"] == True]
nonlegendary = df[df["Legendary"] == False]

stats_list = ["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]

alpha = 0.05
alpha_bonf = alpha / len(stats_list) #Adjust the significance threshold for multiple comparisons using the Bonferroni method

for stat in stats_list:
    t_stat, p_val = stats.ttest_ind(legendary[stat], nonlegendary[stat], equal_var=False)

    print(f"{stat}: mean Legendary={legendary[stat].mean():.1f}, Non-Legendary={nonlegendary[stat].mean():.1f}")

    print(f"   t={t_stat:.2f}, two-sided p={p_val:.4g}")

    if p_val < alpha_bonf:
        print(f"   Significant at Bonferroni Î±={alpha_bonf:.3f}")
    elif p_val < alpha:
        print(f"   Significant at 0.05 but not after multiple testing correction")
    else:
        print(f"   Not significant")

HP: mean Legendary=92.7, Non-Legendary=67.2
   t=8.98, two-sided p=1.003e-13
   Significant at Bonferroni Î±=0.008
Attack: mean Legendary=116.7, Non-Legendary=75.7
   t=10.44, two-sided p=2.52e-16
   Significant at Bonferroni Î±=0.008
Defense: mean Legendary=99.7, Non-Legendary=71.6
   t=7.64, two-sided p=4.827e-11
   Significant at Bonferroni Î±=0.008
Sp. Atk: mean Legendary=122.2, Non-Legendary=68.5
   t=13.42, two-sided p=1.551e-21
   Significant at Bonferroni Î±=0.008
Sp. Def: mean Legendary=105.9, Non-Legendary=68.9
   t=10.02, two-sided p=2.295e-15
   Significant at Bonferroni Î±=0.008
Speed: mean Legendary=100.2, Non-Legendary=65.5
   t=11.48, two-sided p=1.049e-18
   Significant at Bonferroni Î±=0.008

- At the 5% significance level (with Bonferroni correction for multiple comparisons), we reject the null hypotheses for all six stats. This provides strong evidence that Legendary PokÃ©mon have significantly higher base stats (HP, Attack, Defense, Special Attack, Special Defense, and Speed) compared with Non-Legendary PokÃ©mon.

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [4]:
import pandas as pd  

df_housing= pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df_housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 34)
- Hospital coordinates (-122, 37)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [ ]:
# Euclidean distance from each house (neighborhood)
import numpy as np

def euclidean_distance(x1, y1, x2, y2):
    return np.sqrt((x1 - x2)**2 + (y1 - y2)**2)

print(euclidean_distance)

<function euclidean_distance at 0x1432de200>

In [ ]:
#Divided dataset into houses close and far from either a hospital or school
school = (-118, 34)
hospital = (-122, 37)
threshold = 0.50

df_housing["dist_school"] = euclidean_distance(df_housing["longitude"], df_housing["latitude"], school[0], school[1])
df_housing["dist_hospital"] = euclidean_distance(df_housing["longitude"], df_housing["latitude"], hospital[0], hospital[1])

df_housing["close"] = (df_housing["dist_school"] < threshold) | (df_housing["dist_hospital"] < threshold)

print(df_housing[["longitude", "latitude", "dist_school", "dist_hospital", "close"]])

       longitude  latitude  dist_school  dist_hospital  close
0        -114.31     34.19     3.694888       8.187319  False
1        -114.47     34.40     3.552591       7.966235  False
2        -114.56     33.69     3.453940       8.143077  False
3        -114.57     33.64     3.448840       8.154416  False
4        -114.57     33.57     3.456848       8.183508  False
...          ...       ...          ...            ...    ...
16995    -124.26     40.58     9.082070       4.233675  False
16996    -124.27     40.69     9.168915       4.332320  False
16997    -124.30     41.84    10.057614       5.358694  False
16998    -124.30     41.80    10.026465       5.322593  False
16999    -124.35     40.54     9.115597       4.249012  False

[17000 rows x 5 columns]

In [13]:
df_housing['close'].unique()

array([False,  True])

In [20]:
# Count how many houses are close vs far
print(df_housing["close"].value_counts())

# Mean distance to nearest facility for each group
print(df_housing.groupby("close")[["dist_school", "dist_hospital"]].mean())

close
False    10171
True      6829
Name: count, dtype: int64
       dist_school  dist_hospital
close
False     3.809287       3.083883
True      1.092425       4.143540

In [23]:
# Welchâ€™s t-test (a version of the independent two-sample t-test that does not assume equal variances) to compare the mean distances between the two groups.

from scipy import stats

t_school, p_school = stats.ttest_ind(df_housing[df_housing["close"]]["dist_school"],
                                     df_housing[~df_housing["close"]]["dist_school"],
                                     equal_var=False)

t_hospital, p_hospital = stats.ttest_ind(df_housing[df_housing["close"]]["dist_hospital"],
                                         df_housing[~df_housing["close"]]["dist_hospital"],
                                         equal_var=False)

alpha = 0.05

print("Distance to school: t =", t_school, ", p =", p_school)
print("Distance to hospital: t =", t_hospital, ", p =", p_hospital)

# Significance interpretation
if p_school < alpha:
    print(" Houses are significantly closer to schools (we reject H0 hypothesis).")
else:
    print("No significant difference in distance to schools (fail to reject H0 hypothesis).")

if p_hospital < alpha:
    print("Houses are significantly closer to hospitals (we reject H0 hypothesis).")
else:
    print("No significant difference in distance to hospitals (fail to reject H0 hypothesis).")

Distance to school: t = -85.7002674578318 , p = 0.0
Distance to hospital: t = 35.867679963054634 , p = 3.202252809131015e-271
 Houses are significantly closer to schools (we reject H0 hypothesis).
Houses are significantly closer to hospitals (we reject H0 hypothesis).